* {
  box-sizing: border-box;
}

body {
  font-family: 'Slackey', cursive;
  background-color: #ffeae6;
/* Custom Cursor */
  margin: 0;
  height: 100vh;
  cursor: default;
}

.background {
  background-image:url(../images/opac.pokemons.png);
}

.navbar{
  opacity: 1;
  color: #D82B05;
}

.pokedex {
  color: #D82B05;
  font-size: 40px;
  text-shadow: -1px 2px 0px #000;
}

.pokemon-font {
  font-family: 'Slackey', cursive;
  font-size: 90px;
  text-align: center;
  color: #D82B05;
  text-shadow: -3px 2px 0px #000;
}

 .modal-title {
   font-family: 'Slackey', cursive;
   font-size: 45px;
 }

/* modal container to hold pokemon image and stats */
.modal-content {
  margin: auto;
  display: block;
  box-sizing: border-box;
  background: #FFE4DE;
  padding: 15px;
  width: 350px;
  height: 400px;
  max-width: 350px;
  text-align: center;
  border: 6px solid #D82B05;
  border-radius: 30px;
}

button.btn-primary {
  background-color: #FFd5cc;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Slackey', cursive;
  font-size: 25px;
  margin: 4px 2px;
  color: black;
  border: 6px solid #D82B05; /*Red*/
}

button.btn-primary:hover {
  color: black;
}

/* Close button styling */
button.btn.btn-primary {
  background-color: #FFd5cc;
  font-family: 'Slackey', cursive;
  font-size: 15px;
  border: none;
  color: black;
  position: absolute;
  top: 0px;
  right: 0px;
}

button.btn.btn-primary:hover{
  background-color: #FFd5cc;
  font-family: 'Slackey', cursive;
  font-size: 15px;
  border: none;
  color: black;
  position: absolute;
  top: 0px;
  right: 0px;
}

 /*cursor hover */
button.btn-primary:hover {
  background-color:  #ffeae6;
  color: light gray;
  border: 6px solid #D82B05;
  cursor: url('../images/poke_cursor.png'), auto;
}

button.btn.btn-outline-success {
  background-color: #FFd5cc;
  color: #000;
  border: 3px solid #D82B05;
  border-radius: 10px;
}

button.btn.btn-outline-success:hover {
  background-color:  #ffeae6;
  color: light gray;
}


/* Removes bullets from list*/
ul.list-group.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-transform: capitalize;
  text-align: center;
}
