.button-class {
  background-color: #FFE4DE;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #FFE4DE;
  color: black;
  border: 6px solid #D82B05; /*Red*/
}

/* Removes bullets from list*/
ul.pokemon-list {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* Alignment for POkemon text*/
.list {
  text-align: center;
}

/* Parameters for Pokemon title, may change later*/
.title{
  text-align: center;
  font-size: 25px;
  color: #D82B05;
  text-shadow: -1px 1px 0px #000;
}
